@use "../mixins";
@use "../variables" as v;

form {
  @include mixins.flex-column-center;

  input {
    padding: 1rem;
    margin: 1rem;
  }

  input:focus {
    border: v.$info 5px solid;
    outline: none;
  }
}
