.input {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  &--load {
    width: 20vw;
    max-width: 100px;
  }
  &--reps {
    width: 10vw;
    max-width: 70px;
  }
  &--time {
    width: 10vw;
    max-width:50px;
  }
  &--increment {
    width: 15vw;
    max-width:80px;
  }
}
