.input {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  &--load {
    width: 20vw;
    max-width: 100px;
  }
  &--reps {
    width: 10vw;
    max-width: 70px;
  }
  &--time {
    width: 10vw;
    max-width:50px;
  }
  &--increment {
    width: 15vw;
    max-width:80px;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
