@use "../variables" as v;
@use "../mixins";

.table-container {
  @include mixins.flex-column-center;
}

table {
  width: 93vw;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.modal table{
  width: 85vw;
}

th {
  background-color: v.$primary-color;
  height: 3.5rem;
  color: white;
}

table th:first-of-type {
  border-radius: 10px 0 0 10px;
}

table th:last-of-type {
  border-radius: 0 10px 10px 0;
}

td {
  background-color: v.$third-color;

}

tbody tr:first-of-type td:first-of-type {
  border-top-left-radius: 10px;
  //border-radius: 10px 0 0 0;
}

tbody tr:first-of-type td:last-of-type {
  border-top-right-radius: 10px;
}

tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
  //  border-radius: 0 0 0 10px;
}

tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
  // border-radius: 0 0 10px 0;
}

.dont-show-in-desktop {
  display: none
}

@media screen and (max-width: 700px) {
  table {
    width: 95vw;
    display: block;
    margin: 0;
  }

  thead {
    display: none;
  }

  tr {
    height: 3rem;
  }

  td {
    background-color: v.$third-color;
  }

  .tbody-row {
    display: inline-flex;
    height: 2rem;
    background-color: v.$third-color;
    border-bottom: v.$background solid 3px;
    width: v.$content-width;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .tbody-row:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .tbody-row:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .modal .tbody-row{
    width: 88vw;
  }

  .margin-left-on-mobile{
    margin-left: 1rem;
  }

  .margin-right-on-mobile{
    margin-right: 1rem;
  }
}
