@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin fill-all{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

