$blue4: #1A92CE;
$blue3: #32A6D9;
$blue2: #85CCEA;
$blue1: #CCE9F7;
$orange2: #F9BB94;
$orange3: #F68C4E;
$electric-violet: #8c44ff;
$lighter-violet: #BC66FF;
$malachite: #02d46d;
$azure-radiance: #0098fd;
$turquoise: #50dfbd;
$chambray: #3b618c;
$bright-sun: #fed142;
$guardsman-red: #ca0101;
$carnation: #f44f4f;
$green: #008141;
$vue:#41B883;
/*$primary-color: #216EB2;
$secondary-color: #F89021;
$third-color:#FCE7D2;
$background: #FDF1E7;*/

$primary-color: #424651;
$secondary-color: #FFFFFF;
$third-color: #FFF5BE;
$background: #FFD954;
$submit:#02d46d;
$danger: $carnation;
$info: #8c44ff;
