<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
    </ul>

</nav>

<form th:action="@{/adduser}" th:object="${userToInsert}" method="post">
    <p>Username: <input type="text" th:field="*{login}"/></p>
    <p>Password: <input type="password"th:field="*{password}"/></p>
    <p>Name: <input type="text"th:field="*{name}"/></p>
    <p>Surname: <input type="text"th:field="*{surname}"/></p>
    <p> <input type="submit" value="Submit" /></p>
    <p><input type="reset" value="Reset"></p>
</form>

</body>
</html>