<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddWorkoutResult</title>
</head>
<body>
<!--<table>
    <thead>
    <tr>
        <th>Exercise</th>
        <th>Load</th>
        <th>Reps</th>
        <th>Time [s]</th>
        <th>Day!</th>
    </tr>
    </thead>
    <tbody>
    <tr>-->
        <form action="#" th:action="@{/addWorkoutResult}"  th:object="${exerciseResultToInsert}" method="post">
        <input type="text" id="load" name="load" th:field="*{load}">
        <input type="text" id="reps" name="reps" th:field="*{reps}">
        <input type="text" id="timeInSeconds" name="timeInSeconds" th:field="*{timeInSeconds}">

        <input type="submit" value="Submit" />
        </form>
 <!--   </tr>

    </tbody>
</table>
-->
</body>
</html>