<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddWorkoutResult</title>
</head>
<body>
<!--<ul id="dynamic-list"></ul>

<input type="text" id="candidate"/>
<button onclick="addItem()">add item</button>
<button onclick="removeItem()">remove item</button>-->
<div th:object="${exerciseResultList}" >

        <h2>Workout Results</h2>
                <table class="table table-striped" id="resultTable">
                        <tr>

                                <th>Ex. name</th>
                                <th>Load[kg]</th>
                                <th>Reps</th>

                        </tr>
                        <tr th:each="result : ${workoutResultsForm.exercisesResults}">
                                <td th:text="${result.exercise.name}"></td>
                                <td th:text="${result.load}"></td>
                                <td th:text="${result.reps}"></td>
                        </tr>


                </table>
        <form action="#" th:action="@{/addWorkoutResult}"  th:object="${exerciseResultToAdd}" method="post">
                <table class="table table-striped" id="myTable">


                <tr>

                        <th>Load</th>
                        <th>Reps</th>
                        <th>Time</th>

                </tr>
                <tr>

                        <td><input th:field="*{load}"/></td>
                        <td><input th:field="*{reps}"/></td>
                        <td><input th:field="*{timeInSeconds}"/></td>

                </tr>
                <input type="hidden" name="workoutId" th:value="${workoutId}">
                <input type="hidden" name="workoutDay" th:value="${workoutDay}">
                <input type="submit" value="Submit" />

        </table>
        </form>
</div>


       <!-- <form action="#" th:action="@{/addWorkoutResult}"  th:object="${exerciseResultToInsert}" method="post">
        Load:
        <input type="text" id="load" name="load" th:field="*{load}">
        Reps:
        <input type="text" id="reps" name="reps" th:field="*{reps}">
        Time:
        <input type="text" id="timeInSeconds" name="timeInSeconds" th:field="*{timeInSeconds}">
        Day:
        <input type="date" id="dayOfTraining" name="dayOfTraining" th:field="*{dayOfTraining}">
        <input type="hidden" name="workoutId" th:value="${workoutId}">
        <input type="submit" value="Submit" />
        </form>-->

</body>
</html>

